<div class="container">
  <div class="jumbotron text-center">
    <h1>Eat Da Burger</h1>
  </div>


  <div>
    {{!-- form for creating burgers --}}
    <div class="container">
      <form id="burgerForm">
        <input class="text-center form-control" type="text" id="burgerInput" placeholder="Make a Tasty Burger">
        <button class="btn btn-block" type="submit">Submit a Burger!</button>
      </form>
    </div>


  </div>

  <div class="container">
    <div class="row">
      {{!-- column for uneaten burgers --}}
      <div class="col-6">
        <h2>Burgers to Be Eaten</h2>
        <ul>
          {{#each burgerData}}
            {{#unless devoured}}
              <li class="list-group-item text-center"> {{burger_name}}
                <span class="ml-auto">
                  <button data-id="{{id}}" data-devoured="true" class="btn btn-success eat-burger">Eat it!</button>
                </span>


              </li>
            {{/unless}}
          {{/each}}
        </ul>




      </div>







      {{!-- column for eaten burgers --}}
      <div class="col-6">
        <h2>Burgers Eaten</h2>
          <ul class="list-group">
            {{#each burgerData}}
              {{#if devoured}}
                <li class="list-group-item text-center">
                  {{burger_name}}
                </li>
              {{/if}}
            {{/each}}
          </ul>

      </div>




    </div>
  </div>




</div>

<script src="./assets/js/burgers.js"></script>